/* 
    Created on : Oct 20, 2015, 11:31:20 AM
    Author     : Peter Nagy
    Description: Styleing for index.html & game.html 
*/
//basline reset >> margin padding
body {
  margin: 0;
  padding: 0;
}
.bodygame {
  margin: 0;
  padding: 0;
  background: black;
}
#gamecanvas{margin-left:auto; margin-right: auto; background: black;}

